*{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpf3UwgK5VVlCn8V9zh4KQihgINIU6T43OpA&usqp=CAU);
}
h1{
    color: red;
    font-style: oblique;
    background-size:0pc;
    borderstyle
    
}
#ide{
    color:darkblue;
}
#pho{
    color:green;
}
#mail{
    color: blue;
    font-style:italic;
}
h2{
    color:palevioletred;
}
#tit
{
    color:darkslateblue;
}
#head
{
    color:darkviolet;
}